<p class="title is-4" style= "color:hsl(171, 100%, 41%)"><strong>Yên Restaurant</strong></p>
<div class="col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1949.6158499437558!2d109.19483151026806!3d12.232584999392776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067648ab22c69%3A0xb6dfa9d97a610b2f!2sY%E1%BA%BFn+Restaurant+%40havanhotel!5e0!3m2!1sen!2sin!4v1504176653835" 
      width="500" height="350" frameborder="12" style="border:0" allowfullscreen></iframe>   
  </div>
  
<div class="media-content">
  <div class="content" style= "color:hsl(141, 71%, 48%)">
      <br>Tran Quang Khai Street <br>District 1<br>Ho Chi Minh City<br>VietNam<br>
      Yenrestaurant@gmail.com <br
    <small>Open 9:00 AM - 11:00 PM </small>
  </div> 
</div> 
