<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-4">La Fiesta</h1>
      <h2 class="lead">Mexican Restaurant</h2>
      <hr class="my-4">
      <p>Relax With Friends</p>
      <p>Your Favorite</p>
    </div>
  <div class="col-md-6 food-image ">
    <%= image_tag "https://previews.123rf.com/images/merc67/merc671503/merc67150300113/37028124-Preparaci-n-aut-nticos-tacos-mexicanos-vista-desde-arriba-Foto-de-archivo.jpg" %>
  </div>
</div>
<p class="lead">
        <%= link_to "Menu", menu_path, class: "btn btn-secondary btn-lg" %>
        <%= link_to "Contact Us", contact_us_path, class: "btn btn-secondary btn-lg" %>
        </p>
</div>
