<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-4">Yen Restaurant </h1>
      <h2 class="lead"> Tinh hoa đất trời</h2>
      <hr class="my-4">
      <p> “Động vật là bạn của tôi… và tôi không ăn thịt bạn bè”.</p>
      <p>– Leonardo da Vinci -</p>
      <p>“Không có thứ gì mang lại lợi ích cho sức khỏe con người và làm tăng cơ hội sống còn trên thế gian này bằng phương pháp phát triển một chế độ ăn chay”.</p>
      <p>- Albert Einstein -</p>
      
  </div>

  <div class="col-md-6 food-image ">
    <%= image_tag "http://dieuphapam.net/attachments/logo-anchay-jpg.120/" %>
    </div>  
  </div>
  

<div class="card-item">
  <%= link_to "Menu", sections_path, class: "btn btn-secondary btn-lg" %>
  <%= link_to "Contact Us", contact_us_path, class: "btn btn-secondary btn-lg" %>
</div>
</div>
</div>