<div class="content">
<h1> <%= link_to "Đăng Ký Hội Viên Câu Lạc Bộ Chay" , users_new_path %> </h1>
<p>Nơi trau dồi kiến thức, kết bạn và thiện nguyện cho tất cả các bạn yêu thích nghệ thuật Thuần Chay</p>

<p class="title is-4" style= "color:hsl(171, 100%, 41%)"><strong>Lợi ích của việc ăn chay</strong></p>

<h1>Lợi ích</h1>
<p>Ăn chay hiện là một xu hướng của nhiều người hiện nay muốn bảo vệ sức khỏe.Người ta ăn chay vì nhiều lý do khác nhau, có người ăn chay vì sở thích, có người ăn chay vì sức khỏe, có người ăn chay vì đạo, hoặc ăn vì những mục tiêu của cuộc sống như bảo vệ môi trường, bảo vệ động vật, nên ăn chay cũng chia ra nhiều trường phái khác nhau, ăn chay toàn phần là cách ăn bỏ hẳn tất cả những thứ có nguồn góc động vật ra khỏi khẩu phần ăn hằng ngày, hay ăn chay bán phần, không ăn thịt cá, hải sản, nhưng sữa trứng thì vẫn ăn.</p>

<p>Dù mục tiêu và cách ăn chay của bạn như thế nào, thì việc ăn chay cũng là một điều vô cùng đáng khích lệ. Ăn chay có muôn vàn lợi ích, cái lợi ích hàng đầu của việc ăn chay chính tốt cho sức khỏe con người.</p>
  

<h2>Những danh nhân nổi tiếng ăn chay trên thế giới như: </h2>
<p><strong> - Léonard Da Vinci </strong>: ông ăn chay vì nhà danh họa và điêu khắc gia người Ý, đồng thời cũng là một thi sĩ nổi tiếng trên thế giới quan niệm ăn chay là đạo đức của con người. Sự ăn chay sẽ tránh được những tội ác về sát sinh. Ông còn nhấn mạnh rằng những ai không biết quý trọng sự sống của những sinh vật khác là những kẻ không đáng sống.</p>
  <figure>
    <img src="http://www.leonardodavinci.net/images/leonardo-da-vinci.jpg">
    <figcaption>
      Leonardo Da Vinci
    </figcaption>
  </figure>
<p><strong> -Albert Einstein: </strong> Ông là một người yêu chuộng hòa bình, tôn trọng sự sống của muôn loài và đã từng phát biểu: “Không gì ích lợi cho sức khỏe của con người để có cơ hội sống lâu trên quả địa cầu này bằng cách ăn chay”.</p>
  <figure>
    <img src="https://i.pinimg.com/originals/08/95/70/08957029ae31bceb6eae1f03d88b6d22.jpg">
    <figcaption>
      Albert Einstein
    </figcaption>
  </figure>
<p> <strong> – Steve Jobs </strong> : ông trùm kinh doanh và sáng chế người Mỹ, một trong những người sáng lập Apple cũng là một người ăn chay và ủng hộ lối sống khỏe, thân thiện môi trường và bảo vệ động vật với PETA. Ông từng tặng rất nhiều Contairner chứa nước ép cà rốt tại buổi Haloween thay vì tặng kẹo.</p>
  <figure>
    <img src="https://i.ytimg.com/vi/IMWnwG2fjb0/hqdefault.jpg">
    <figcaption>
      Steve Jobs
    </figcaption>
  </figure>

<h2></h2>
<p>Việc ăn chay mang nhiều lợi ích thiết thực, nhưng không phải ai cũng ăn chay được. Khi chúng ta đã quen ăn mặn, việc khởi đầu ăn chay không phải dễ dàng gì. Nên ẩm thực chay Việt Nam cũng phong phú đa dạng để phục vụ cho những nhu cầu đó. Giúp người ăn cảm thấy quen dần với ăn chay bỏ dần ăn mặn dễ dàng.</p>


